/*
 * Variables
*/

// Colors
$primary: hsl(181deg, 100%, 20%);
$secondary: hsl(332deg, 74%, 33%);
$white: hsl(158deg, 4%, 93%);

// Font Variables
$font-family-sans-serif: system-ui, -apple-system, 'Nunito Sans', sans-serif;
$font-family-bearline: 'Bearline Regular', serif;
$font-size-base: 1em;
$font-size-sm: 0.75rem;

// Borders
$border: 1px solid $primary;